.hero {
	position: relative;
	box-sizing: border-box;
}


.top-line {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 10%;
	
	&--fullscreen {
		margin-left: 10.41%;
		margin-top: 5%;
		position: absolute;
	}
	&--fullscreen &__lang {
		margin-left: 30px;
	}

	&__name {
		font-family: "FuturaBook", sans-serif;
		font-size: 25px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		display: inline-block;
	}

	&__lang {
		&--full {
			
		}

		&--mobile {
			display: none;
		}
		font-family: "ProximaNova-Light", sans-serif;
		font-size: 12px;
		letter-spacing: 1.2px;
		display: inline-block;
		// margin-left: 140px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.left-side {
	flex: 1;
	width: 50%;
	// height: 100%;
	position: relative;
	// padding-top: 50px;


	&__content {
		position: relative;
		right: 0;
		bottom: 0;
		padding-left: 20.83%;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-right: 6.77%;
	}

	&__title {
		font-family: "Akrobat-Regular", sans-serif;
		font-size: 45px;
		margin-top: 20%;
	}

	&__list {
		position: relative;
		margin: 10% 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__list-item {
		// padding: 10px;
		&:hover .forlist__drop,
		&:active .forlist__drop,
		&:focus .forlist__drop {
			display: block;
		}

	}

	&__btn {
		width: 170px;
		// margin-left: 135px;
		// margin-top: auto;
		margin-bottom: 12.63%;
		position: absolute;
		display: block;
		bottom: 0;
	}
}

.forlist {

	&__title {
		font-family: "Akrobat-Bold", sans-serif;
		font-size: 22px;
		line-height: 2;
		cursor: pointer;
		display: inline-block;
		position: relative;
	}

	&__drop {
		position: absolute;
		width: 100%;
		left: 0;
		padding-top: 20px;

		ul {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 120px;
		}
	}

	&__drop-item {
		font-family: "Akrobat-Thin", sans-serif;
		font-size: 16px;
		line-height: 1.87;
		&:hover {
			text-decoration: underline;
		}

		.text-bold {
			font-family: "Akrobat-Bold", sans-serif;
		}
	}
}

.js-drop {
	display: none;
}

.is-open {
	display: block;
}


.right-side {
	position: relative;
	flex: 1;
	overflow: hidden;
	&__slider {
		height: 100%;
	}

	&__slide {
		height: 100%;
		background-repeat: no-repeat;
		background-position: top right;
		background-size: cover;
	}

	&__next {
		width: 110px;
		height: 60px;
		position: absolute;
		bottom: 120px;
		right: 95px;
		background-image: url(../img/nav-icons/long-arrow-right.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		cursor: pointer;

	}
}

.right-textblock {
	position: absolute;
	color: #fff;
	width: 100px;
	height: 50%;
	right: 0;
	top: 0;
	margin-right: 70px;

	&__vertical {
		font-family: "ProximaNova-Light", sans-serif;
		font-size: 20px;
		line-height: 2;
		letter-spacing: 1.2px;
		writing-mode: vertical-rl;
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 95px;
	}

	&__nums {
		font-family: "Akrobat-Regular", sans-serif;
		font-size: 35px;
		letter-spacing: 1.2px;
		line-height: 1.71;
		position: absolute;
		// bottom: 0;
		top: 100%;
	}
}


@media (max-width: 1270px) {
	.top-line {
		&__lang {
			// margin-left: 60px;
		}
	}
}

@media (max-width: 1040px) {
	.top-line {

		&__lang {
			&--full {
				display: none;
			}
			&--mobile {
				display: inline-block;
			}
		}
	}
}

@media (max-width: 930px) {

	.top-line {
		// position: relative;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		box-sizing: border-box;

		background-image: url(../../img/mobile-topline-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		padding: 40px 10px;
		color: #fff;

		position: fixed;
		z-index: 999;

		&__lang {
			float: right;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	.right-side {
		display: none;
	}

	.left-side {
		width: 100%;
		height: 100%;
		padding-top: 0px;
		// padding: 0 10px;
		&__title {
			text-align: center;
			margin-top: 50px;
			font-size: 30px;
			padding: 0 10px;
			padding-top: 100px;
		}
		&__content {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			// display: block;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			flex-shrink: 0;
			margin: 5% 0px;
			margin-top: auto;
		}

		&__list-item {

		}



		&__btn {
			box-sizing: border-box;
			position: relative;
			bottom: 0;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
			margin-top: auto;
		}
	}

}

