.product {
	position: relative;

	&__contact {
		position: absolute;
		bottom: 10%;
		left: 10.41%;
	}
	
	&__page-wrapper {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		// padding-left: 500px;
		// padding-top: 100px;
		padding-left: 60%;
		padding-top: 8%;
		padding-bottom: 8%;
		display: flex;
		align-items: center;
	}
}

.contact {
	&__title {
		font-family: "Akrobat-Bold", sans-serif;
		font-size: 22px;
		line-height: 1.5;
		margin-bottom: 50px;
	}

	&__content {
		font-family: "Akrobat-Thin", sans-serif;
		font-size: 22px;
		line-height: 2;
		margin-bottom: 95px;
	}

	&__rout-link {
		text-decoration: underline;
	}

	&__gallery-link {
		font-family: "Akrobat-Regular", sans-serif;
		font-size: 22px;
		text-decoration: underline;
	}

}

.prod-item {
	display: flex;
	position: relative;

	&__title-wrapper {
		// font-family: "Akrobat-SemiBold", sans-serif;
		// font-size: 45px;
		// line-height: 1.33;
		// flex: 1;
		// align-self: center;
		// // position: relative;
		// .r;
	}

	&__title {
		font-family: "Akrobat-SemiBold", sans-serif;
		font-size: 45px;
		line-height: 1.33;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		// left: 0;
		right: 0;
		margin-right: 70%;
		//margin-left: -50%;
		width: 80%;
	}

	&__img-holder {

		flex: 1 1;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
		}
	}
}

.inner-wrapper {
	width: 100%;
}

.bg-red {
	background: #FDA8A8;
}


@media (max-width: 1170px) {
	.prod-item {
		&__title {
			font-size: 35px;
		}
	}
}

@media (max-width: 890px) {
	.contact {
		&__content {
			font-size: 20px;
		}
	}
}


@media (max-width: 812px) {
	.contact {
		display: none;
	}

	.product {
		&__page-wrapper {
			padding: 0;
			height: auto;
			height: 100%;
		}
	}

	.prod-item {
		height: 100%;
		display: block;
		flex-direction: column;
		position: relative;

		&__title {
			box-sizing: border-box;
			position: relative;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: none;
			top: 0;
			width: 100%;
			height: 30%;
			font-size: 30px;
			padding-top: 100px;
			padding-right: 10px;
			padding-left: 10px;
			// .b;
		}

		&__img-holder {
			display: block;
			height: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			// .r;

			img {
				// width: 50%;
			}
		}
	}
}