body {
	font-family: "Akrobat-Thin", sans-serif;
	font-size: 22px;
	line-height: 1;
	color: #000;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}


.r {
	border: 1px solid red;
}

.b {
	border: 1px solid #000;
}


.testlargeblock {
	height: 500px;
	border-top: 1px solid #000;
	display: block;
	background: #D693C9;
	z-index: 400;
	color: red;
}


.main-btn {
	display: block;
	font-family: "ProximaNova-Light", sans-serif;
	font-size: 14px;
	padding: 25px 40px;
	border: 1px solid #000;
	color: #000;
	letter-spacing: 2px;
	font-weight: 300;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: #000;
		color: #fff;
	}
}

.section {
	height: 100vh;
	width: 100%;
	display: flex;
	background: #fff;

}

@media (max-width: 930px) {
	.section {
		display: block;
	}
}

