@media (min-width: 1920px) {
	.container {
		width: 1600px;
	}
}

@media (min-width: 1600px) {
	.container {
		width: 1450px;
	}
}

@media (min-width: 1450px) {
	.container {
		width: 1300px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}