.font(@fontName; @fontUrl; @weight: normal; @style: normal) {
  font-family: '@{fontName}';
  src: url('../fonts/@{fontUrl}.eot');
  src: url('../fonts/@{fontUrl}.eot#iefix') format('embedded-opentype'),
  url('../fonts/@{fontUrl}.woff') format('woff'),
    url('../fonts/@{fontUrl}.ttf') format('truetype'),
    url('../fonts/@{fontUrl}.svg') format('svg');
    font-weight: @weight;
    font-style: @style;
}